<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
  <title>KingFEN 0.01 View</title>

  <link rel="shortcut icon" href="./KingFEN.ico" type="image/x-icon">
  <link rel="stylesheet" href="./reset.css" type="text/css">
  <link rel="stylesheet" href="./view.css" type="text/css">

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>

<body class="view">
  <%= yield %>
</body>

</html>
