body.view, body.about
{
  background-color: #024E68;
}

#main
{
  display:          inline-block;
  border:           4px solid grey;
  margin:           0 auto;
  padding:          3px;
  background-color: #F0F0F0;
}

div.board_edge
{
  border:         2px solid black;
}

table.main_board
{
  border-collapse: collapse;
  border-spacing: 0;
}

table.main_board, tr.main_board, td.main_board
{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

table.w_at_bot_bd
{
  border-style:   solid;
  border-width:   3px;
  border-color:   #222 grey white grey;
}

table.b_at_bot_bd
{
  border-style:   solid;
  border-width:   3px;
  border-color:   white grey #222 grey;
}

td.main_board img
{
  display:        inline;
}

td.w_sqr
{
  background-color: #C6A68C;
}

td.b_sqr
{
  background-color: #A5866B;
}

